<div class="form-group">
  <div class="has-validation">
    <label class="form-label" [attr.for]="id">
      {{ label }}
    </label>
    <input
      class="form-control"
      [ngClass]="
        (control.touched || control.dirty) && control.invalid
          ? 'is-invalid'
          : '' || ((control.touched || control.dirty) && control.valid)
          ? 'is-valid'
          : ''
      "
      [type]="type"
      [(ngModel)]="value"
      [id]="id"
      (blur)="onTouchedCb()"
      [disabled]="isDisabled"
      autocomplete="off"
    />
  </div>
  <app-error-message [control]="control" [label]="label"></app-error-message>
</div>
